*,
::before,
::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: aquamarine;
}

.desktop {
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  background: blue;
  flex-grow: 6;
  padding: 1em;
}

.btache {
  background: green;
  flex-grow: 1;
  min-height: 70px;
  display: flex;
}

.item {
  width: 70px;
  height: 70px;
  padding: 5px;
  cursor: pointer;
}

.searchbar {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  left: 1em;
  width: 400px;
  height: 60px;
  background-color: red;
  border: 1px solid;
  display: flex;
}

.search {
  height: 50px;
  width: 50px;
  background-image: url("./img/search.png");
  background-size: contain;
  transform: rotate(90deg);
  border: 1px solid;
  margin: auto;
}

.name {
  position: relative;
  height: fit-content;
  width: fit-content;
  top: -10%;
  margin-right: 40px;
}
